.image-blender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.blender-sliders {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.blender-sliders input {
    width: 100%;
}
canvas {
    border: 1px solid #ccc;
}
